<div class="nested-fields">

  <div class="ingredients">
    <%= f.fields_for :ingredient do |ingredient| %>
      <%= render "ingredient_fields", f: ingredient %>
    <% end %>
  </div>

  <div>
    <%= f.text_field :quantity, placeholder: "Quantity" %>
  </div>

  <div>
    <%= f.text_field :unit, placeholder: "Measurement Unit" %>
  </div>

  <div>
    <%= f.text_field :description, placeholder: "Ingredient Description" %>
  </div>

  <%= link_to_remove_association "remove ingredient", f %><br />

  <br />
</div>
