<div class="container mt-4">
  <!-- Check if a search query is present -->
  <% if params[:query].present? %>
    <!-- Search Results Header -->
    <div class="bg-light p-4 mb-4 rounded shadow-sm">
      <h1 class="text-center text-dark display-4">Search Results for "<%= params[:query] %>"</h1>
    </div>

    <!-- Cocktails Section -->
    <% if @search_results.none? { |result| result.searchable_type == 'Cocktail' } %>
      <p class="text-muted text-center">No cocktail results found.</p>
    <% else %>
      <h2 class="text-primary mt-4">Cocktails</h2>
      <div class="row">
        <% @search_results.select { |result| result.searchable_type == 'Cocktail' }.each do |result| %>
          <div class="col-md-4 mb-4">
            <div class="card text-center shadow-sm">
              <%= link_to cocktail_path(result.searchable) do %>
                <%= image_tag url_for(result.searchable.image), class: "card-img-top img-fluid rounded-circle mt-3", alt: result.searchable.name %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to result.searchable.name, cocktail_path(result.searchable), class: "text-dark" %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Ingredients Section -->
    <% if @search_results.none? { |result| result.searchable_type == 'Ingredient' } %>
      <p class="text-muted text-center">No ingredient results found.</p>
    <% else %>
      <h2 class="text-primary mt-4">Ingredients</h2>
      <div class="list-group">
        <% @search_results.select { |result| result.searchable_type == 'Ingredient' }.each do |result| %>
          <%= link_to result.searchable.name, ingredient_path(result.searchable), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <!-- No search query provided -->
    <div class="bg-light p-4 mb-4 rounded shadow-sm">
      <h1 class="text-center text-dark display-4">Enter a cocktail or ingredient name for available results.</h1>
    </div>
  <% end %>
</div>