<!DOCTYPE html>
<html>
  <head>
    <title>Buzzy's Bar</title>
    <%= favicon_link_tag asset_path('buzzy_bee.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render partial: "layouts/navbar" %>
    <main role="main" class="flex-shrink-0">
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>